<form method="POST" action="/prehistoric_creatures">
  <label for="creatureName">Name</label>
  <input id="creatureName" type="text" name="name" />

  <label for="creatureType">Type</label>
  <input id="creatureType" type="text" name="type" />

  <input type="submit" />
</form>
